/*
* @Author: Administrator
* @Date:   2017-08-29 18:02:25
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-09 15:33:43
*/
*{
	margin: 0;   /* 清除body身上的8px */
	text-decoration: none;  /* 清除A标签下划线 */
	padding: 0;
	box-sizing: border-box;
	list-style: none;    
}
img{
	width: 100%;
	height: 100%;
}
